<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="it.mobimentum.phonegapspinnerplugin"
    version="1.2.1">

    <name>SpinnerPlugin</name>

    <description>A native loading indicator</description>
    <license>MIT</license>
    <keywords>cordova,loading,indicator,spinner</keywords>

    <js-module src="www/spinnerplugin.js" name="SpinnerPlugin">
        <clobbers target="window.spinnerplugin" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SpinnerPlugin">
                <param name="android-package" value="cl.kunder.cordovaNativeLoading.SpinnerPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/cl/kunder/cordovaNativeLoading/SpinnerPlugin.java" target-dir="src/cl/kunder/cordovaNativeLoading/" />
     </platform>

     <!-- iOs -->
     <platform name="ios">

        <!-- Cordova >= 2.3 -->
        <config-file target="config.xml" parent="/*">
            <feature name="SpinnerPlugin">
                <param name="ios-package" value="SpinnerPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/SpinnerPlugin.h" />
        <source-file src="src/ios/SpinnerPlugin.m" />


     </platform>

</plugin>
